.cashback-table {
    margin-left: 250px;
    width: 60%;
} 

thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 55px;
}

.no-cashbacks{
    margin-top: 200px;
    margin-left: 450px;
    font-size: 30px;
    font-weight: bold;
}
